:root {
    --nav-bar-height: 13vh;
    --nav-icon-length: 30px;
    --desktop-nav-bar-padding: 1vh 2vw 1vh 0; /* extra padding on right due to how logo picture already has built-in padding */
    --mobile-nav-bar-padding: 1vh 4vw 1vh 0; /* extra padding on right due to how logo picture already has built-in padding */
}

header {
    top: 0;
    width: 100vw;
    z-index: 1;
}

/* nav bar (common) [start] */
.nav-bar-left {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: left;
}

.nav-bar-left a {
    display: inline-block;
    height: 100%;
    text-align: left;
}

.nav-bar-left img {
    width: auto;
    height: 100%;
}

.nav-bar-middle {
    /* centers the nav bar text */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    gap: 1vw;
}

.nav-bar-middle a {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: bold;
    transition: 0.3s;
}

.nav-bar-middle a:hover {
    color: lightgray;
}

.nav-bar-right {
    flex: 1;
    display: flex;
    justify-content: right;
}

.nav-icon {
    width: var(--nav-icon-length);
    height: var(--nav-icon-length);
    transition: 0.3s;
}

.nav-icon:hover {
    opacity: 0.7;
}
/* nav bar (common) [end] */

/* nav bar (desktop) [start] */
#desktop-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--desktop-nav-bar-padding);
    height: var(--nav-bar-height);

    background-color: #2B2B2B;
    text-align: center;
}

.desktop-social-links {
    display: flex;
    gap: 2vw;
}

.desktop-social-links a {
    color: white;
    transition: 0.3s;
}

.desktop-social-links a:hover {
    color: lightgray;
}

.desktop-nav-active {
    border-bottom: 3px solid #D71C15;
}
/* nav bar (desktop) [end] */

/* nav bar (mobile) [start] */
#mobile-nav-bar {
    display: none;
    flex: 1;
    justify-content: space-between;
    align-items: center;

    padding: var(--mobile-nav-bar-padding);
    height: var(--nav-bar-height);
    background-color: #2B2B2B;
}

#mobile-nav-hamburger-button {
    font-size: 4rem;
}

#mobile-nav-hamburger-button img {
    width: 5vw;
}
/* nav bar (mobile) [end] */

/* mobile nav menu [start] */
#mobile-nav-menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    background-color: #2B2B2B;
    z-index: 1;

    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.mobile-nav-menu-top {
    width: 100vw;
    height: var(--nav-bar-height);
    padding: var(--mobile-nav-bar-padding);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.mobile-nav-menu-top img {
    width: 5vw;
}

.moblie-nav-menu-middle {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 4;
}

.moblie-nav-menu-middle ul {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    list-style: none;
}

.moblie-nav-menu-middle ul li {
    text-align: center;
}

.moblie-nav-menu-middle li a {
    color: white;
    font-size: 3rem;
    text-decoration: none;
}

.mobile-nav-menu-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
}

.mobile-social-links {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 10vw;
}
/* mobile nav bar [end] */

/* to make the website responsive (switch mobile and desktop versions) */
@media (max-width: 900px) {
    #desktop-nav-bar {
        display: none;
    }

    #mobile-nav-bar {
        display: flex;
    }
}

@media (min-width: 900px) {
    #mobile-nav-menu {
        display: none;
    }
}

/* allow full mobile nav bar menu to be seen when mobile device is in landscape orientation */
@media (max-height: 600px) {
    .moblie-nav-menu-middle li a {
        font-size: 2rem;
    }
}