* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scrollbar-gutter: stable;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(255, 255, 255);
}

/* for creating the background image */
body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";

    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 30%), url('../assets/images/background.jpg') center/cover no-repeat;
    filter: brightness(50%);
    z-index: -1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#grid {
    width: 80%;
}
