* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html {
    scrollbar-gutter: stable;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: rgb(0, 0, 0);
    gap: 2vh;
    margin-bottom: 4vh;
    background-color: rgb(243, 244, 246);
}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    padding-bottom: 1vh;
    font-size: 1.5rem;
}

section {
    width: 80%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}

section img {
    width: 100%;
    aspect-ratio: 16 / 9; /* aspect_ratio = width / height */
    object-fit: cover;
    border-radius: 2vw;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    align-self: center;
}

.about-text-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.about-text-description {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1vh 0;
    flex: 1;
}

@media (max-width: 900px) {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    section img {
        order: 0;
    }

    section .about-text-container {
        order: 1;
    }
}